#content{
    max-width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
#contentInfo {
}
#likeBtn:hover{
    cursor: pointer;
}
#likeBox{
    justify-content: center;
}
#modAndRem * {
    text-decoration: underline;
}
#mod:hover{
    font-weight: bold;
}
#rem:hover{
    font-weight: bold;
}
