#content{
    max-width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
#contentInfo {
}
#likeBtn:hover{
    cursor: pointer;
}
#likeBox{
    justify-content: center;
}
#modAndRem * {
    text-decoration: underline;
}
#mod:hover{
    cursor: pointer;
    font-weight: bold;
}
#rem:hover{
    cursor: pointer;
    font-weight: bold;
}
#cont:hover{
    cursor: pointer;
    font-weight: bold;
}
#contMod:hover{
    cursor: pointer;
    font-weight: bold;
}

#contDel:hover{
    cursor: pointer;
    font-weight: bold;
}

/*myCommentModalTextArea*/
#myCommentModalTextArea{
    max-width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    resize: none;
    outline: none;
}

